@using dotnet_mvc_vuejs_webpack_boilerplate.Helpers
@model dynamic
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Hello World!</h1>
<h2>I am Index.cshtml.</h2>

@section scripts
{
    @Html.Script("~/dist/commons.js")
    @Html.Script("~/dist/layout.js")
}